<div>
<h1 style="color: gold">Disasters</h1>
  <a href="https://www.usgs.gov/natural-hazards/earthquake-hazards/science/science-earthquakes?qt-science_center_objects=0#qt-science_center_objects"><h4 style="color: gold">Earthquakes</h4></a>
  <img src="https://media0.giphy.com/media/l0HlAJti7DgiZ1H9u/source.gif" alt="Earthquake"  width="400" height="200">
  <p style="color: #e7e7e7">Earthquakes are the shaking, rolling or sudden shock of the earth’s surface.
  They are the Earth's natural means of releasing stress.
  More than a million earthquakes rattle the world each year.
  The West Coast is most at risk of having an earthquake, but earthquakes can happen in the Midwest and along the East Coast.
  Earthquakes can be felt over large areas although they usually last less than one minute.
  Earthquakes cannot be predicted - although scientists are working on it!</p>

<a href="https://www.iwapublishing.com/news/flood-control-and-disaster-management" style="color: gold"><h4>Rain & Floods</h4></a>
  <img src="https://i.pinimg.com/originals/ce/2b/39/ce2b393282088c7838230b51ffa88fe3.gif" alt="Rain & Flood" width="400" height="200" >
  <p style="color: #e7e7e7">Water droplets form from warm air. As the warm air rises in the sky it cools.
  Water vapor (invisible water in the air) always exists in our air.
  Warm air holds quite a bit of water. For example, in the summer it is usually very humid.
  When enough of these droplets collect together, we see them as clouds.
  If the clouds are big enough and have enough water droplets, the droplets bang together and form even bigger drops. When the drops get heavy, they fall because of gravity, and you see and feel rain.</p>

</div>
