<div class="parent-container">
  <div class="child-container">
    <div>
      <p>Display Data</p>
    </div>
  <div>
    <form>
      <div class="form-group">
        <div class="form-group">
          <div class="form-group col-lg-4 input-group">
            <label class="text-white" for="title">Title:</label> <label class="text-danger"> *</label>
            <input #title class="form-control" placeholder="Please Enter Title to Context" type="text"/>
            <label class="text-white" for="description">Description:</label> <label class="text-danger"> *</label>
            <input #description class="form-control" placeholder="Please Enter Title to Context" type="text">
            <textarea name="message" rows="10" cols="30">The cat was playing in the garden.</textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  </div>
</div>